.historyListWrapper {
 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
          ". . historyList historyList historyList historyList . ."    
}
.historyList {
    grid-area: historyList;
    text-align: left;
    margin-bottom: 50px;
}