

 /*NavBar style antd*/
 .ant-tabs-nav-container {
     font-size: 1.3rem;
     font-weight: bold;
 }
 .ant-tabs-nav .ant-tabs-tab-active {
    color: #1890ff;
    font-weight: 500;
    font-weight: bold;
}

 
 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      ". box1 box2 box3 ."
      "footer footer footer footer footer";
 }

 .box1 {
     grid-area: box1;
     margin-top: 10px;
     width: 350px;
     height: 430px;
     border: 0.6rem solid lightgrey;
 }
 .box2 {
    grid-area: box2;
    margin-top: 10px;
    width: 350px;
    height: 430px;
    border: 0.6rem solid lightgrey;
}
.box3 {
    grid-area: box3;
    margin-top: 10px;
    width: 350px;
    height: 430px;;
    border: 0.6rem solid lightgrey;
}

.footer {
    grid-area: footer;
}

.box1 img {
    height: 200px;
    width: 100%;
}
.box2 img {
    height: 200px;
    width: 100%;
}
.box3 img {
    height: 200px;
    width: 100%;
}

.blackblock {
    height: 35px;
    background-color: black;
    margin-bottom: 12px;
}

.title {
    color: white;
    text-align: left;
    padding: 3px;
    padding-left: 12px;
    font: bold 22px anton;
}

.text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 15px; 
    text-align: left;
    height: 110px;
}

.ant-btn.readmorebutton {
    margin-left: 180px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-color: #ED8600;
    color: white;
    font-size: 1rem;
    text-align: right;
    
}

