.order-history{
    width : 60%;
    margin-left:auto;
    margin-right:auto;
}

.order-id{
    margin-left: -40px;
    text-align: center;
    font-weight: bold;
}

.form-entry {
    /* margin-left:30px; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px;
}

.form-entry-left {

    width:15%;
    text-align: left;
    font-weight: bold;
}

.form-entry-middle {
    width:15%;
    text-align: left;
    font-weight: bold;
    margin-right:10px
}

.form-entry-right {
    margin-left:20px;
    text-align: left;
    margin-right:10px
}