/* TopBar background */
.App-header {
    background-image: url('../assets/images/background1.jpg');
    background-size: cover;
    height: 350px;
    border-bottom: 0.5rem solid #2B2A2A;
}
/* Company Logo */
.App-logo {
   display: flex;
   flex-direction: row;
   padding-top: 10px;
   padding-left: 470px;
   padding-right: 20px;
}
.App-logo img {
    height: 60px;
}
.App-name-Bo {
    padding-top: 12px;
    color: black;
    font-family: Monoton; font-size: 3.5rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 40px; } h3 { font-family: Monoton; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Monoton; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Monoton; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Monoton; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
}
.App-name-liver {
    padding-top: 12px;
    color: #E63F00;
    font-family: Monoton; font-size: 3.5rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 40px; } h3 { font-family: Monoton; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Monoton; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Monoton; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Monoton; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
}
/* Company introduction */
.App-text {
    display: flex;
    flex-direction: column;
    padding-left: 480px;
    padding-top: 40px;
}
.Large-font {
    font-size: 2.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;  /* adjust line space */
    text-align: left;
    margin-bottom: 10px;
}
.Small-font {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 19px; 
    text-align: left;
}

.logout {
    color:#E63F00;
    font-size: 1.1rem;
    margin: 10px auto;
    margin-right: 0;
}

